body {
  background-image: url("http://localhost:3000/assets/grey_wash_wall.png")
}

.container {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  background-color: white;
}

h1 {
  padding: 20px;
}

.clearfix {
  clear: both;
}

img {
height: 75px;
width: 100px;
}

#navbar-right {
  float: right;
  width: 150px;
  height: 42px;
}

h1 a {
  text-decoration: underline;
}
